<div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
  <div class="pace-progress-inner"></div>
</div>
<div class="navbar navbar-inverse">
		<div class="navbar-header">
		<a class="navbar-brand" href="/admin/dashboard" style="font-weight: 700;font-size: 22px;">
			<%= @admin_company.name.capitalize %>
	    </a>

			<ul class="nav navbar-nav visible-xs-block">
				<li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
				<li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
			</ul>
		</div>

		<div class="navbar-collapse collapse" id="navbar-mobile">
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown dropdown-user">
					<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
						  	<%= image_tag(@admin_company.image.url(:thumb), :class => "img-circle")%>
						<span style="font-weight: 600;"><%= @admin_company.name.capitalize %></span>
					</a>
				</li>
			</ul>
		</div>
</div>
