<div class="page-header">
		<div class="page-header-content">
			<div class="page-title">
				<h4><i class="icon-circle-right2 position-left"></i> <span class="text-semibold"> <%= @admin_company.name.capitalize %> </span>Informartion</h4>
<!-- 				<ul class="breadcrumb breadcrumb-caret position-right">
					<li><a href="index.html">Home</a></li>
					<li><a href="extension_velocity_basic.html">Velocity</a></li>
					<li class="active">Basic animations</li>
				</ul> -->
			</div>

			<div class="heading-elements">
				<div class="heading-btn-group">
					<a href="<%= company_change_theme_path(params[:name]) %>" class="btn btn-link btn-float has-text"><i class="icon-2x icon-color-sampler text-primary"></i><span>Chnage Apperreance</span></a>
				</div>
			</div>
		<a class="heading-elements-toggle"><i class="icon-menu"></i></a></div>
	</div>