<div class="col-lg-6">   
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
<div class="panel panel-body login-form">
   <div class="text-center">
      <!-- <div class="icon-object border-success text-success"><i class="icon-plus3"></i></div> -->
      <h5 class="content-group">Update account</h5>
   </div>

   <div class="form-group has-feedback has-feedback-left">
      <%= f.text_field :first_name, autofocus: true,  :class => "form-control", :placeholder => "Eugene" %>
      <div class="form-control-feedback">
         <i class="icon-user-check text-muted"></i>
      </div>
   </div>
   <div class="form-group has-feedback has-feedback-left">
      <%= f.text_field :last_name, autofocus: true,  :class => "form-control", :placeholder => "Smith" %>
      <div class="form-control-feedback">
         <i class="icon-user-lock text-muted"></i>
      </div>
   </div>
   <div class="form-group has-feedback has-feedback-left">
      <%= f.text_field :phone, autofocus: true,  :class => "form-control", :placeholder => "960-119-5650" %>
      <div class="form-control-feedback">
         <i class="icon-phone text-muted"></i>
      </div>
   </div>
   <div class="form-group">
      <%= f.label :gender_male, 'Male', :class => "radio-inline" %>
      <div class="choice border-primary-600 text-primary-800">
         <%= f.radio_button :gender, 'male', :checked => true, :class => "styled"  %>
      </div>
      <%= f.label :gender_female, 'Female', :class => "radio-inline" %>
      <div class="choice border-primary-600 text-primary-800">
         <%= f.radio_button :gender, 'female', :class => "styled"  %><br />
      </div>
   </div>
   <div class="form-group has-feedback has-feedback-left">
      <%= f.email_field :email, autofocus: true,  :class => "form-control", :placeholder => "abc@abc.com" %>
      <div class="form-control-feedback">
         <i class="icon-mention text-muted"></i>
      </div>
   </div>

   <div class="form-group has-feedback has-feedback-left">
    <%= f.password_field :current_password, autocomplete: "off", :class => "form-control", :placeholder => "Your current_password" %>
    <div class="form-control-feedback">
         <i class="icon-mention text-muted"></i>
    </div>
  </div>
  
  <div class="actions">
    <%= f.submit "Update", :class => "btn btn-primary" %>
  </div>


<!-- 
<h3>Cancel my account</h3>

<p>Unhappy? <%#= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p> -->

<%#= link_to "Back", :back %>
</div>

</div>


<% end %>

