<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
   <div class="panel panel-body login-form">
      <div class="text-center">
         <div class="icon-object border-success text-success"><i class="icon-plus3"></i></div>
         <h5 class="content-group">Create account <small class="display-block">All fields are required</small></h5>
      </div>
      <div class="content-divider text-muted form-group"><span>Your credentials</span></div>
      <div class="form-group has-feedback has-feedback-left">
         <%= f.text_field :first_name, autofocus: true,  :class => "form-control", :placeholder => "Eugene" %>
         <div class="form-control-feedback">
            <i class="icon-user-check text-muted"></i>
         </div>
      </div>

      <div class="form-group has-feedback has-feedback-left">
         <%= f.text_field :last_name, autofocus: true,  :class => "form-control", :placeholder => "Smith" %>
         <div class="form-control-feedback">
            <i class="icon-user-lock text-muted"></i>
         </div>
      </div>

      <div class="form-group has-feedback has-feedback-left">
         <%= f.text_field :phone, autofocus: true,  :class => "form-control", :placeholder => "960-119-5650" %>
         <div class="form-control-feedback">
            <i class="icon-phone text-muted"></i>
         </div>
      </div>

      <div class="form-group">
         <%= f.label :gender_male, 'Male', :class => "radio-inline" %>
         <div class="choice border-primary-600 text-primary-800">
            <%= f.radio_button :gender, 'male', :checked => true, :class => "styled"  %>
         </div>
         <%= f.label :gender_female, 'Female', :class => "radio-inline" %>
         <div class="choice border-primary-600 text-primary-800">
            <%= f.radio_button :gender, 'female', :class => "styled"  %><br />
         </div>
      </div>

      <!-- <div class="content-divider text-muted form-group"><span>Your privacy</span></div> -->
      <div class="form-group has-feedback has-feedback-left">
         <%= f.email_field :email, autofocus: true,  :class => "form-control", :placeholder => "abc@abc.com" %>
         <div class="form-control-feedback">
            <i class="icon-mention text-muted"></i>
         </div>
      </div>
      <div class="form-group has-feedback has-feedback-left">
         <%= f.password_field :password, autocomplete: "off", :class => "form-control", :placeholder => "Create password" %>
         <div class="form-control-feedback">
            <i class="icon-user-lock text-muted"></i>
         </div>
      </div>
      <div class="form-group has-feedback has-feedback-left">
         <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control", :placeholder => "Repeat password" %>
         <div class="form-control-feedback">
            <i class="icon-user-lock text-muted"></i>
         </div>
      </div>

   <div class="">
      <%= f.submit "Sign up", :class => "btn btn-primary btn-block" %>
   </div>
   <% end %>
   <br>
   <div class="text-center">
      <%= render "devise/shared/links" %>
   </div>
</div>
<!-- <script type="text/javascript">
   var validator = $(".new_user").validate({
        ignore: 'input[type=hidden], .select2-search__field', // ignore hidden fields
        errorClass: 'validation-error-label',
        successClass: 'validation-valid-label',
        highlight: function(element, errorClass) {
            $(element).removeClass(errorClass);
        },
        unhighlight: function(element, errorClass) {
            $(element).removeClass(errorClass);
        },

        // Different components require proper error label placement
        errorPlacement: function(error, element) {

            // Styled checkboxes, radios, bootstrap switch
            if (element.parents('div').hasClass("checker") || element.parents('div').hasClass("choice") || element.parent().hasClass('bootstrap-switch-container') ) {
                if(element.parents('label').hasClass('checkbox-inline') || element.parents('label').hasClass('radio-inline')) {
                    error.appendTo( element.parent().parent().parent().parent() );
                }
                 else {
                    error.appendTo( element.parent().parent().parent().parent().parent() );
                }
            }

            // Unstyled checkboxes, radios
            else if (element.parents('div').hasClass('checkbox') || element.parents('div').hasClass('radio')) {
                error.appendTo( element.parent().parent().parent() );
            }

            // Input with icons and Select2
            else if (element.parents('div').hasClass('has-feedback') || element.hasClass('select2-hidden-accessible')) {
                error.appendTo( element.parent() );
            }

            // Inline checkboxes, radios
            else if (element.parents('label').hasClass('checkbox-inline') || element.parents('label').hasClass('radio-inline')) {
                error.appendTo( element.parent().parent() );
            }

            // Input group, styled file input
            else if (element.parent().hasClass('uploader') || element.parents().hasClass('input-group')) {
                error.appendTo( element.parent().parent() );
            }

            else {
                error.insertAfter(element);
            }
        },
        validClass: "validation-valid-label",
        success: function(label) {
            label.addClass("validation-valid-label").text("Success.")
        },
        rules: {
            user[email]: {
                email: true
            },
            user[password_confirmation]: {
                equalTo: "#user_password"
            },
            user[password]: {
                require: true
            },
            user[first_name]: {
                require: true
            },
            user[last_name]: {
                require: true
            },
            user[phone]: {
                require: true
            }
        },
        messages: {
            user[email]: {
                required: "email is is required",
            },
            user[password_confirmation]: {
                equalTo: "#user_password",
            },
            user[password]: {
                required: "password is required",
            },
            user[first_name]: {
                required: "first name is required",
            },
            user[last_name]: {
                required: "Last name is required",
            },
            user[phone]: {
                required: "Phone Number is required",
            },
        }
    });

</script> -->
