<div class="page-header">
					<div class="page-header-content">
						<div class="page-title">
							<h4><a class="black" onclick="window.history.go(-1); return false;" ><i class="icon-arrow-left52 position-left" ></i></a> <span class="text-semibold">Home</span> - <%= @titleheader %></h4>
							<!-- <li><input action="action" onclick="window.history.go(-1); return false;" type="button" value="Back" /></li> -->


						</div>
						<div class="heading-elements">
<!-- 							<div class="heading-btn-group">
								<a href="#" class="btn btn-link btn-float has-text"><i class="icon-bars-alt text-primary"></i><span>Statistics</span></a>
								<a href="#" class="btn btn-link btn-float has-text"><i class="icon-calculator text-primary"></i> <span>Invoices</span></a>
								<a href="#" class="btn btn-link btn-float has-text"><i class="icon-calendar5 text-primary"></i> <span>Schedule</span></a>
							</div> -->
						</div>
					<a class="heading-elements-toggle"><i class="icon-menu"></i></a></div>

					<div class="breadcrumb-line">
						<ul class="breadcrumb">
							<li><a href="#"><i class="icon-home2 position-left"></i> Home</a></li>
							<li class="active"><%= @title %></li>

						</ul>

					<a class="breadcrumb-elements-toggle"><i class="icon-menu-open"></i></a></div>
				</div>