
			<!-- Main sidebar -->
			<div class="sidebar sidebar-main">
				<div class="sidebar-content">

					<!-- User menu -->
					<div class="sidebar-user">
						<div class="category-content">
							<div class="media">
								<a href="#" class="media-left">
						              	<td><%= image_tag("missing.png", :alt => "") %></td>
								</a>
								<div class="media-body">
									<span class="media-heading text-semibold"><%= current_user.first_name %>  <%= current_user.last_name %></</span>
									<div class="text-size-mini text-muted">
										<i class="icon-pin text-size-small"></i> &nbsp;Gujarat, Ahmedabad
									</div>
								</div>

								<div class="media-right media-middle">
<!-- 									<ul class="icons-list">
										<li>
											<a href="#"><i class="icon-cog3"></i></a>
										</li>
									</ul> -->
								</div>
							</div>
						</div>
					</div>
					<!-- /user menu -->


					<!-- Main navigation -->
					<div class="sidebar-category sidebar-category-visible">
						<div class="category-content no-padding">
							<ul class="navigation navigation-main navigation-accordion">

								<!-- Main -->
								<li class="navigation-header"><span>Main</span> <i class="icon-menu" title="" data-original-title="Main pages"></i></li>
								<li>
									<a href="<%= dashboards_index_path %>" class="has-ul"><i class="icon-lifebuoy"></i> <span>Dashboard</span></a>
								</li>
								<li>
									<a href="<%= products_path %>" class="has-ul"><i class="icon-cart"></i> <span>Product</span></a>
								</li>
								<li>
									<a href="<%= products_trash_products_path %>" class="has-ul"><i class="icon-cart"></i> <span>Products Trash</span></a> 

								</li>								

								<li>
									<a href="<%= companies_path %>" class="has-ul"><i class="icon-archive"></i> <span>Company</span></a> 

								</li>
								<li>
									<a href="<%= companies_trash_companies_path %>" class="has-ul"><i class="icon-archive"></i> <span>Companis Trash</span></a> 

								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>


