
<%= form_for(resource, as: resource_name, url: change_password_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>
  <div class="panel panel-body login-form">
  <div class="text-center">
                <div class="icon-object border-warning text-warning"><i class="icon-spinner11"></i></div>
                <h5 class="content-group">New Password</h5>
              </div>

<div class="form-group has-feedback">
    <%= f.password_field :password, autofocus: true, autocomplete: "off", :class => "form-control", :placeholder => "New Password" %>
<div class="form-control-feedback">
                  <i class="icon-lock text-muted"></i>
                </div>
              </div>

<div class="form-group has-feedback">
    <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control", :placeholder => "Repeat Password" %>
<div class="form-control-feedback">
                  <i class="icon-lock text-muted"></i>
                </div>
              </div>

  <div class="actions">
    <%= f.submit "Change my password", :class => "btn bg-blue btn-block"  %>
  </div>
<% end %>
</div>
<%#= render "devise/shared/links" %>
