
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>
<div class="panel panel-body login-form">
	<div class="text-center">
								<div class="icon-object border-warning text-warning"><i class="icon-spinner11"></i></div>
								<h5 class="content-group">Password recovery <small class="display-block">We'll send you instructions in email</small></h5>
							</div>
<div class="form-group has-feedback">
		    <%= f.email_field :email, autofocus: true, :class => "form-control", :placeholder => "Your email" %>
								<div class="form-control-feedback">
									<i class="icon-mail5 text-muted"></i>
								</div>
							</div>

		  <div class="actions">
		    <%= f.submit "Send me reset password instructions", :class => "btn bg-blue btn-block" %>
		  </div>
<% end %>

<%#= render "devise/shared/links" %>
</div>

