.black{
    color: black;
}
.login-cover {
    background: url('../login_cover.jpg') no-repeat;
    background-size: cover;
}
.form-group.has-feedback.has-feedback-center {
    margin-left: 110px;
}
.inline-flex {
	display: inline-flex;
}
.input-btn-browse{
	float: right;
    width: auto;
    margin-right: 20px;
    margin-left: 5px;
}
.width-auto {
	width: auto !important;
}

.center {
	border-radius: 3px;
    margin: 0 auto;
}
#myTable img {
	width: 50px;
	height: 50px;
}
.radio {
    vertical-align: top;
    margin-top: 0;
}
.login {
	padding-left: 38px !important
}
.validation-error-label:before {
		padding-left: 11px;
}
.login-form{
	    margin-top: 20px;
}

.modal {
    padding: 0 20px;
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}
.vertical-alignment-helper {
    display: table;
    height: 100%;
    width: 100%;
    pointer-events: none;
}
.vertical-align-center {
    display: table-cell;
    vertical-align: middle;
    pointer-events: none;
    width: 173px !important;
    text-align: center;
}
.modal-content {
    width: inherit;
    height: inherit;
    margin: 0 auto;
    pointer-events: all;
    display: block;
}
.modal-body {
    position: relative;
    padding: 15px;
}
.modal-body img {
    margin-bottom: 15px;
}