  `<% @titleheader = "Company" %>
<div class="panel panel-flat">
  <div class="panel-heading">
     <h5 class="panel-title">Edit Company</h5>
<!--      <div class="heading-elements">
        <ul class="icons-list">
           <li><a data-action="collapse"></a></li>
           <li><a data-action="reload"></a></li>
           <li><a data-action="close"></a></li>
        </ul>
     </div> -->
     <a class="heading-elements-toggle"><i class="icon-menu"></i></a>
  </div>
  <div class="panel-body">
 <% @title = "Company  /  edit" %>
<%= form_for([@admin_company],:html => {:id=>"validate-form"}) do |f| %>
        <fieldset class="content-group">
           <!-- <legend class="text-bold">New</legend> -->
<fieldset class="content-group">
           <div class="form-group">
              <label class="control-label col-lg-2">Company Name</label>
              <div class="col-lg-10">
				  <%= f.text_field :name, :class => "form-control"  %>
              </div>
           </div>
       </fieldset>
<fieldset class="content-group">
            <div class="form-group">
              <label class="control-label col-lg-2">Company Address</label>
              <div class="col-lg-10">
	              <%= f.text_area :address, :class => "form-control"  %> 
              </div>
           </div>
       </fieldset>
           <fieldset class="content-group">
           <div class="form-group">
              <label class="control-label col-lg-2">Company Phone</label>
              <div class="col-lg-10">
				 <%= f.text_field :phone, :class => "form-control"  %>
              </div>
           </div>
       </fieldset>
           <fieldset class="content-group">
            <div class="form-group">
              <label class="control-label col-lg-2">Company email</label>
              <div class="col-lg-10">
	              <%= f.email_field :email, :class => "form-control" %> 
              </div>
           </div>
       </fieldset>


                <div class="col-lg-10">
        </fieldset>

        <div class="text-right">
	<%= f.submit :submit, :class => "btn btn-primary" %>
	<%#= link_to 'Show', admin_companies_path, :class => "btn btn-primary" %>
        </div>
     </form>
  </div>
</div>
<%end%>

