<% @title = "Companies" %>
<% @titleheader = "Company" %>
<div class="panel panel-flat">
   <div class="panel-heading">
      <h5 class="panel-title">Company</h5>
      <div class="heading-elements">
         <ul class="icons-list inline-flex">
            <a href="<%=new_company_path%>"><button type="button" class="btn btn-primary">Add Company</button> 
            </a>
         </ul>  
      </div>

      <a class="heading-elements-toggle"><i class="icon-menu"></i></a>
   </div>
   <table class="table" id="myTable">
      <thead>
         <tr>
            <th>No</th>
            <th>Image</th>
            <th>Company Name</th>
            <th>address</th>
            <th>phone</th>
            <th>email</th>
            <th class="text-center">Actions</th>
         </tr>
      </thead>
      <tbody> <% @no = 1 %>
         <% @admin_companies.each do |p| %>
         <tr>
            <td><%= @no %></td>
              <td><%= image_tag("missing.png", :alt => "") %>
              </td>
            <td><a href="<%=company_path(:id=>p.id)%>"><%= p.name %></td>
            <td><%= p.address %></td>
            <td><%= p.phone%></td>
            <td><%= p.email%></td>
            <td class="text-center">
               <ul class="icons-list">
                  <li class="dropdown">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                     <i class="icon-menu9"></i>
                     </a>
                      <ul class="dropdown-menu dropdown-menu-right">
                          <li><a href="<%= edit_company_path(:id=>p.id)%>"><i class="icon-database-edit2"></i> Edit</a></li>
                          <li><a href="<%= company_path(:id=>p.id)%>" data-method="delete" data-confirm="Are you sure?"><i class="icon-bin2"></i>Hard-Delete</a>
                          </li>
                          <li><a href="<%= trash_companies_path(:id=>p.id) %>"><i class="icon-bin2"></i>Soft-Delete</a>
                          </li>                          
                          <li><a href="<%= company_path(:id=>p.id)%>"><i class="icon-eye"></i> Show</a></li>
                       </ul>
                  </li>
               </ul>
            </td>
         </tr>
         <% @no = @no + 1 %>
         <%end%>                   
      </tbody>
   </table>

</div>
</div>

</form>
<script type="text/javascript">
   $(document).ready(function(){
     $('#myTable').DataTable({
      autoWidth: false,
        // columnDefs: [{ 
        //     orderable: false,
        //     width: '100px',
        //     targets: [ 5 ]
        // }],
        dom: '<"datatable-header"fl><"datatable-scroll"t><"datatable-footer"ip>',
        language: {
            search: '<span>Filter:</span> _INPUT_',
            lengthMenu: '<span>Show:</span> _MENU_',
            paginate: { 'first': 'First', 'last': 'Last', 'next': '&rarr;', 'previous': '&larr;' }
        },
        drawCallback: function () {
            $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').addClass('dropup');
        },
        preDrawCallback: function() {
            $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').removeClass('dropup');
        }
     });
     // Alternative pagination
    $('.datatable-pagination').DataTable({
        pagingType: "simple",
        language: {
            paginate: {'next': 'Next &rarr;', 'previous': '&larr; Prev'}
        }
    });


    // Add placeholder to the datatable filter option
    $('.dataTables_filter input[type=search]').attr('placeholder','Type to filter...');


    // Enable Select2 select for the length option
    $('.dataTables_length select').select2({
        minimumResultsForSearch: Infinity,
        width: 'auto'
    });

   });
</script>