<% @titleheader = "Company" %>
<div class="panel panel-flat">
   <div class="panel-heading">
      <h5 class="panel-title">New Company</h5>
      <a class="heading-elements-toggle"><i class="icon-menu"></i></a>
   </div>
   <div class="panel-body">
      <% @title = "Company  /  New" %>
      <%= form_for @admin_company, url: companies_path(@admin_company) do |f| %>
      <fieldset class="content-group">
         <!-- <legend class="text-bold">New</legend> -->
         <fieldset class="content-group">
            <div class="form-group">
               <label class="control-label col-lg-2">Company Name</label>
               <div class="col-lg-5">
                  <%= f.text_field :name, :class => "form-control"  %>
               </div>
            </div>
         </fieldset>
         <fieldset class="content-group">
            <div class="form-group">
               <label class="control-label col-lg-2">Company Address</label>
               <div class="col-lg-5">
                  <%= f.text_area :address, :class => "form-control"  %> 
               </div>
            </div>
         </fieldset>
         <fieldset class="content-group">
            <div class="form-group">
               <label class="control-label col-lg-2">Company Phone</label>
               <div class="col-lg-5">
                  <%= f.text_field :phone, :class => "form-control"  %>
               </div>
            </div>
         </fieldset>
         <fieldset class="content-group">
            <div class="form-group">
               <label class="control-label col-lg-2">Company email</label>
               <div class="col-lg-5">
                  <%= f.email_field :email, :class => "form-control" %> 
               </div>
            </div>
         </fieldset>
      </fieldset>
      <div class="text-right">
         <%= f.submit :submit, :class => "btn btn-primary" %>
         <%#= link_to 'Show', admin_companies_path, :class => "btn btn-primary" %>
      </div>
   </div>
</div>
<%end%>
<script type="text/javascript">
   $(document).ready(function() {
     var validator = $(".new_company").validate({
       ignore: 'input[type=hidden], .select2-search__field', // ignore hidden fields
       errorClass: 'validation-error-label',
       successClass: 'validation-valid-label',
       highlight: function(element, errorClass) {
           $(element).removeClass(errorClass);
       },
       unhighlight: function(element, errorClass) {
           $(element).removeClass(errorClass);
       },
   
       // Different components require proper error label placement
       errorPlacement: function(error, element) {
   
           // Styled checkboxes, radios, bootstrap switch
           if (element.parents('div').hasClass("checker") || element.parents('div').hasClass("choice") || element.parent().hasClass('bootstrap-switch-container') ) {
               if(element.parents('label').hasClass('checkbox-inline') || element.parents('label').hasClass('radio-inline')) {
                   error.appendTo( element.parent().parent().parent().parent() );
               }
                else {
                   error.appendTo( element.parent().parent().parent().parent().parent() );
               }
           }
   
           // Unstyled checkboxes, radios
           else if (element.parents('div').hasClass('checkbox') || element.parents('div').hasClass('radio')) {
               error.appendTo( element.parent().parent().parent() );
           }
   
           // Input with icons and Select2
           else if (element.parents('div').hasClass('has-feedback') || element.hasClass('select2-hidden-accessible')) {
               error.appendTo( element.parent() );
           }
   
           // Inline checkboxes, radios
           else if (element.parents('label').hasClass('checkbox-inline') || element.parents('label').hasClass('radio-inline')) {
               error.appendTo( element.parent().parent() );
           }
   
           // Input group, styled file input
           else if (element.parent().hasClass('uploader') || element.parents().hasClass('input-group')) {
               error.appendTo( element.parent().parent() );
           }
   
           else {
               error.insertAfter(element);
           }
       },
       validClass: "validation-valid-label",
       success: function(label) {
           label.addClass("validation-valid-label").text("Success.")
       },
       rules: {
           company[name]: {             
               require: true
           },
           company[address]: {
               require: true
           },
           company[phone]: {
               require: true
           },
           company[email]: {
               email: true
           }
       },
       messages: {
           company[name]: {
               required: "Name is is required",
           },
           company[address]: {
               required: "Address is required",
           },
           company[phone]: {
               required: "phonenumber is required",
           },
           company[email]: {
               required: "email is required",
           }
       }
     });
   });
</script>