<% @titleheader = "Company" %>
<div class="panel panel-flat">
  <div class="panel-heading">
     <h5 class="panel-title"> Company</h5>
<!--      <div class="heading-elements">
        <ul class="icons-list">
           <li><a data-action="collapse"></a></li>
           <li><a data-action="reload"></a></li>
           <li><a data-action="close"></a></li>
        </ul>
     </div> -->
     <a class="heading-elements-toggle"><i class="icon-menu"></i></a>
  </div>
  <div class="panel-body">
<% @title = "Company  /  Show" %>
        <fieldset class="content-group">
           <!-- <legend class="text-bold">Show</legend> -->
<fieldset class="content-group">
           <div class="form-group">
              <label class="control-label col-lg-2">Company Name</label>
              <div class="col-lg-10">
				  <%= @admin_company.name %>
              </div>
           </div>
       </fieldset>
<fieldset class="content-group">
            <div class="form-group">
              <label class="control-label col-lg-2">Company Address</label>
              <div class="col-lg-10">
	              <%= @admin_company.address %>
              </div>
           </div>
       </fieldset>
           <fieldset class="content-group">
           <div class="form-group">
              <label class="control-label col-lg-2">Company Phone</label>
              <div class="col-lg-10">
				 <%= @admin_company.phone %>
              </div>
           </div>
       </fieldset>
       <fieldset class="content-group">
            <div class="form-group">
              <label class="control-label col-lg-2">Company Email</label>
              <div class="col-lg-10">
	             <%= @admin_company.email %>
              </div>
           </div>
       </fieldset>
        </fieldset>


        <div class="text-right">
			<%#= link_to 'new',new_admin_company_path, :class => "btn btn-primary"  %>
			<%#= link_to 'index',admin_companies_path, :class => "btn btn-primary"  %>
        </div>
  </div>
</div>


