<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %> 
<div class="panel panel-body login-form">
   <div class="text-center">
      <div class="icon-object border-slate-300 text-slate-300"><i class="icon-reading"></i></div>
      <h5 class="content-group">Login to your account <small class="display-block">Enter your credentials below</small></h5>
   </div>
   <div class="form-group has-feedback has-feedback-left">
      <%= f.email_field :email, autofocus: true, :class => 'form-control', :placeholder => "Email",  :id => 'email'%>
      <div class="form-control-feedback">
         <i class="icon-user text-muted"></i>
      </div>  
       <label id="basic-error" class="validation-error-label login" for="basic_e"> email can't be blank </label>
   </div>
   <div class="form-group has-feedback has-feedback-left">
      <%= f.password_field :password, autocomplete: "off", :class => 'form-control', :placeholder => "Password",  :id => 'password'%>
      <div class="form-control-feedback">
         <i class="icon-lock2 text-muted "></i>
      </div>  
       <label id="basic-error1" class="validation-error-label login" for="basic_p"> password can't be blank </label>
   </div>
   
   <div class="form-group">
      <%= f.submit "Sign in", :class => "btn btn-primary btn-block", :id => "submit" %>
   </div>

              <div class="content-divider text-muted form-group"><span>Don't have an account?</span></div>

   <% end %>
   <div class="text-center">
      <%= render "devise/shared/links" %>
   </div>
</div>

<script type="text/javascript">

   $(document).ready(function() {
      $("#basic-error").hide();
      $("#basic-error1").hide();
   });


 $( document ).ready(function() {
      $('#email').keyup(function(){
         $('label[for="basic_e"]').hide();

         if($(this).val() == ''){  
          $('label[for="basic_e"]').show();
          }else{
            $('label[for="basic_p"]').hide();
         }
      });


      $('#password').keyup(function(){
         $('label[for="basic_p"]').hide();

         if($(this).val() == ''){  
          $('label[for="basic_p"]').show();
          }else{
            $('label[for="basic_p"]').hide();
         }
      });

      // $('.saasadsa').notifyModal({
      //    duration : 2500,
      //    placement : 'center',
      //    onTop : true,
      // });
  });
</script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#new_user').submit(function() {
                // if (response.success) {
                //     new PNotify({
                //         title: 'Success notice',
                //         text: 'Check me out! I\'m a notice.',
                //         addclass: 'bg-success'
                //     });
                // } else {
                //     new PNotify({
                //         title: 'Danger notice',
                //         text: 'Check me out! I\'m a notice.',
                //         addclass: 'bg-danger'
                //     });
                // }
        });
    });






</script>
