<div class="row">
		<div class="col-lg-4">

			<!-- Members online -->
			<div class="panel bg-teal-400">
				<div class="panel-body">
					<h3 class="no-margin"><%= @users %></h3>
					Total Users
				</div>

				<div class="container-fluid">
					<div id="members-online"></div>
				</div>
			</div>
			<!-- /members online -->

		</div>

		<div class="col-lg-4">

			<!-- Current server load -->
			<div class="panel bg-pink-400">
				<div class="panel-body">

					<h3 class="no-margin"><%= @products %></h3>
					Total Products
				</div>

				
			</div>
			<!-- /current server load -->

		</div>

		<div class="col-lg-4">

			<!-- Today's revenue -->
			<div class="panel bg-blue-400">
				<div class="panel-body">

					<h3 class="no-margin"><%= @companies %></h3>
					Total Companies
				</div>

				
			</div>
			<!-- /today's revenue -->

		</div>
</div>