<% if target.errors.any? %>
<div id="errorExplanation">
  <h4><%= pluralize(target.errors.count, "error") %> prohibited this record from being saved:</h2>
  <ul>
  <% target.errors.full_messages.each do |msg| %>
    <label id="basic-error" class="validation-error-label" for="basic"><%= msg %></label>
  <% end %>
  </ul>
</div>
<%# else %>
<!-- <div id="errorExplanation">
  <h4><%#= pluralize(target.errors.count, "error") %> prohibited this record from being saved:</h2>
  <ul>
  <%# target.errors.full_messages.each do |msg| %>
    <label id="basic-error" class="validation-error-label validation-valid-label" for="basic">Success.</label>
  <%# end %>
  </ul>
</div> -->
<% end %>