<% @titleheader = "Product" %>
<div class="panel panel-flat">
   <div class="panel-heading">
      <h5 class="panel-title">Edit Product</h5>
      <!--      <div class="heading-elements">
         <ul class="icons-list">
            <li><a data-action="collapse"></a></li>
            <li><a data-action="reload"></a></li>
            <li><a data-action="close"></a></li>
         </ul>
         </div> -->
      <a class="heading-elements-toggle"><i class="icon-menu"></i></a>
   </div>
   <div class="panel-body">
      <% @title = "Products  /  Edit" %>
      <%= form_for([@admin_product],:html => {:id=>"validate-form"}) do |f| %> 
          <fieldset class="content-group">
             <fieldset class="content-group">
                <div class="form-group">
                   <label class="control-label col-lg-2">Product Code</label>
                   <div class="col-lg-4">
                      <%= f.text_field :code, :class => "form-control"  %>
                   </div>
                </div>
             </fieldset>
             <fieldset class="content-group">
                <div class="form-group">
                   <label class="control-label col-lg-2">Product Name</label>
                   <div class="col-lg-4">
                      <%= f.text_field :name, :class => "form-control"  %> 
                   </div>
                </div>
             </fieldset>
             <fieldset class="content-group">
                <div class="form-group">
                   <label class="control-label col-lg-2">Description</label>
                   <div class="col-lg-4">
                      <%= f.text_area :description, :class => "form-control"  %>
                   </div>
                </div>
             </fieldset>
             <fieldset class="content-group">
                <div class="form-group">
                   <label class="control-label col-lg-2">Product Price</label>
                   <div class="col-lg-4">
                      <%= f.text_field :price, :class => "form-control" %> 
                   </div>
                </div>
             </fieldset>
          </fieldset>

          <fieldset class="content-group">
             <div class="form-group">
                <label class="control-label col-lg-2">Company Name</label>
                <div class="col-lg-4">
                   <%= f.select :Company_id, options_for_select(@company.collect { |p| [p.name, p.id] }), {prompt: "Select company"}, class: "form-control" %>
                </div>
             </div>
          </fieldset>
        <div class="col-lg-4">
          <div class="actions">
             <%= f.submit "Update", :class => "btn btn-primary" %>
          </div>
      </div>
      </form>
   </div>
</div>
<br>
<%end%>