<%#= form_tag import_csv_admin_companies_path, multipart: true do %>
<% @titleheader = "Product" %>
<% @title = "Products" %>
<div class="panel panel-flat">
   <div class="panel-heading">
      <h5 class="panel-title">Products</h5>
      <div class="heading-elements">
         <ul class="icons-list inline-flex">
            <a href="<%=new_product_path%>"><button type="button" class="btn btn-primary">Add Product</button> 
            </a>  
      </div>
      <a class="heading-elements-toggle"><i class="icon-menu"></i></a>
   </div>
     <table class="table" id="myTable">
        <thead>
           <tr>
              <th>Code</th>
              <th>Name</th>
              <th>Price</th>
              <th>Description</th>
              <th>Company Name</th>
              <th class="text-center">Actions</th>
           </tr>
        </thead>
        <tbody>
           <% @admin_products.each do |p| %>
           <tr>
              <td><%= p.code %></td>
              <td><%= p.name %></td>
              <td><%= p.price %></td>
              <td><%= p.description%></td>
              <% if p.Company_id.inspect %>
              <% a = p.Company_id
                 @cmp = Company.find_by_id(a)
              %>
                <td><a href="<%= company_path(:id => @cmp.id)%>"><%= @cmp.name %></a></td>
              <% end %>
              <td class="text-center">
                 <ul class="icons-list">
                    <li class="dropdown">
                       <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                       <i class="icon-menu9"></i>
                       </a>
                       <ul class="dropdown-menu dropdown-menu-right">
                          <li><a href="<%=edit_product_path(:id=>p.id)%>"><i class="icon-database-edit2"></i> Edit</a></li>
                          <li><a href="<%=product_path(:id=>p.id)%>"><i class="icon-eye"></i> Show</a></li>
                          <li><a href="<%= product_path(:id=>p.id)%>" data-method="delete" data-confirm="Are you sure?" id="sweet_combine"><i class="icon-bin2">
                             </i>
                             Hard-Delete</a>
                          </li>
                          <li><a href="<%= trash_products_path(:id=>p.id) %>"><i class="icon-bin2"></i>Soft-Delete</a>
                          </li>                           
                       </ul>
                    </li>
                 </ul>
              </td>
           </tr>
           <%end%>                   
        </tbody>
     </table>
     <tr>
</div>
<script type="text/javascript">
   $(document).ready(function(){
     $('#myTable').DataTable({
      autoWidth: false,
        // columnDefs: [{ 
        //     orderable: false,
        //     width: '100px',
        //     targets: [ 5 ]
        // }],
        dom: '<"datatable-header"fl><"datatable-scroll"t><"datatable-footer"ip>',
        language: {
            search: '<span>Filter:</span> _INPUT_',
            lengthMenu: '<span>Show:</span> _MENU_',
            paginate: { 'first': 'First', 'last': 'Last', 'next': '&rarr;', 'previous': '&larr;' }
        },
        drawCallback: function () {
            $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').addClass('dropup');
        },
        preDrawCallback: function() {
            $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').removeClass('dropup');
        }
     });
     // Alternative pagination
    $('.datatable-pagination').DataTable({
        pagingType: "simple",
        language: {
            paginate: {'next': 'Next &rarr;', 'previous': '&larr; Prev'}
        }
    });


    // Add placeholder to the datatable filter option
    $('.dataTables_filter input[type=search]').attr('placeholder','Type to filter...');


    // Enable Select2 select for the length option
    $('.dataTables_length select').select2({
        minimumResultsForSearch: Infinity,
        width: 'auto'
    });

   });
</script>