
<% @titleheader = "Product" %>
<div class="panel panel-flat">
   <div class="panel-heading">
      <h5 class="panel-title">New Product</h5>
      <!--      <div class="heading-elements">
         <ul class="icons-list">
            <li><a data-action="collapse"></a></li>
            <li><a data-action="reload"></a></li>
            <li><a data-action="close"></a></li>
         </ul>
         </div> -->
      <a class="heading-elements-toggle"><i class="icon-menu"></i></a>
   </div>
   <div class="panel-body">
      <% @title = "Product  /  New" %>
      <%= form_for @admin_product, url: products_path(@admin_product) do |f| %>   
        <%#= render "error_messages", :target => @admin_product %>


      <fieldset class="content-group">
         <!-- <legend class="text-bold">New</legend> -->
         <fieldset class="content-group">
            <div class="form-group">
               <label class="control-label col-lg-2">Product Code</label>
               <div class="col-lg-6">
                  <%= f.text_field :code, :class => "form-control", :id => "name"  %>
               </div>    
            </div>
         </fieldset>
         <fieldset class="content-group">
            <div class="form-group">
               <label class="control-label col-lg-2">Product Name</label>
               <div class="col-lg-6">
                  <%= f.text_field :name, :class => "form-control"  %> 
               </div>
            </div>
         </fieldset>
         <fieldset class="content-group">
            <div class="form-group">
               <label class="control-label col-lg-2">Description</label>
               <div class="col-lg-6">
                  <%= f.text_area :description, :class => "form-control"  %>
               </div>
            </div>
         </fieldset>
         <fieldset class="content-group">
            <div class="form-group">
               <label class="control-label col-lg-2">Product Price</label>
               <div class="col-lg-6">
                  <%= f.text_field :price, :class => "form-control" %> 
               </div>
            </div>
         </fieldset>
      </fieldset>
      <fieldset class="content-group">
         <div class="form-group">
            <label class="control-label col-lg-2">Company Name</label>
            <div class="col-lg-6">
               <%#= f.select :company_id, options_for_select(@company.collect { |p| [p.name, p.id] }), class: "form-control" %>
               <%= f.select :Company_id, options_for_select(@company.collect { |p| [p.name, p.id] }), {prompt: "Select company"}, class: "form-control" %>
            </div>
         </div>
      </fieldset>
  

      <div class="text-right" data-toggle="modal" data-target="#myModal">
         <%= f.submit :submit, :class => "btn btn-primary" %>
         <%#= link_to 'Show', admin_products_path, :class => "btn btn-primary" %>
      </div>
      </form>
   </div>
</div>
<div id="myModal" class="modal" role="dialog">
   <div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
  <div class="pace-progress-inner"></div>
</div>
  <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center">
      <div class="modal-content">
        <div class="modal-body">
          <!-- <img src="https://img0bm.b8cdn.com/images/icons/grayLoader.gif"> -->
          <img src="http://price.choicequoter.com/assets/ajax-loader-a83a7b890c6aafe0afeac3afa9fa184cfe99f5dbf01bcbc2d8eee74b464ba993.gif">
          <p>inserting data</p>

         </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%end%>



<script type="text/javascript">

   $(document).ready(function() {
      $("#new_product").submit(function(){
         $('.modal').css('display', 'block');
      });
   });
</script>
