<% @titleheader = "Product" %>
<div class="panel panel-flat">
   <div class="panel-heading">
      <h5 class="panel-title">Show Product</h5>
      <!--      <div class="heading-elements">
         <ul class="icons-list">
            <li><a data-action="collapse"></a></li>
            <li><a data-action="reload"></a></li>
            <li><a data-action="close"></a></li>
         </ul>
         </div> -->
      <a class="heading-elements-toggle"><i class="icon-menu"></i></a>
   </div>
   <div class="panel-body">
      <% @title = "Products  /  Show" %>
      <fieldset class="content-group">
         <fieldset class="content-group">
            <div class="form-group">
               <label class="control-label col-lg-2">Product Code</label>
               <div class="col-lg-10">
                  <%= @admin_product.code %>
               </div>
            </div>
         </fieldset>
         <fieldset class="content-group">
            <div class="form-group">
               <label class="control-label col-lg-2">Product Name</label>
               <div class="col-lg-10">
                  <%= @admin_product.name %>
               </div>
            </div>
         </fieldset>
         <fieldset class="content-group">
            <div class="form-group">
               <label class="control-label col-lg-2">Description</label>
               <div class="col-lg-10">
                  <%= @admin_product.description %>
               </div>
            </div>
         </fieldset>
         <fieldset class="content-group">
            <div class="form-group">
               <label class="control-label col-lg-2">Product Price</label>
               <div class="col-lg-10">
                  <%= @admin_product.price %>
               </div>
            </div>
         </fieldset>
      </fieldset>
              <% a = @admin_product.Company_id
                 @cmp = Company.find_by_id(a)
              %>
      <fieldset class="content-group">
         <div class="form-group">
            <label class="control-label col-lg-2">Company Name</label>
            <div class="col-lg-10">
               <%= @cmp.name %>
            </div>
         </div>
      </fieldset>


      <div class="text-right">
         <%#= link_to 'new',new_admin_product_path, :class => "btn btn-primary"  %>
         <%#= link_to 'index',admin_products_path, :class => "btn btn-primary"  %>
      </div>
   </div>
</div>