<% flash.each do |key, value| %>
  <div class="login-form">
	  <div class="alert alert-<%= key %>">
	    <a href="#" data-dismiss="alert" class="close">×</a>
	    <ul>
	      <li>
	        <%= value %>
	      </li>
	    </ul>
	  </div>
	</div>
<% end %>


<style type="text/css">
	/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }
</style>