<html>
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>MarketPlaceApi</title>
      <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <%= stylesheet_link_tag 'admin', media: 'all' %>
      <%= javascript_include_tag 'admin' %>
      <%= csrf_meta_tags %>
   </head>
   <body>
      <%= render 'layouts/admin/navbar'%>  
      <div class="page-container">
         <div class="page-content">
            <%= render 'layouts/admin/side_bar' %>
            <div class="content-wrapper">
               <%= render 'layouts/admin/page_header'%>
               <div class="content">
                  <div class="se-pre-con"></div>
                 <!--  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button> -->
                  <%= yield %>  
                  <%= render 'layouts/admin/footer'%>
               </div>
            </div>
         </div>
      </div>
   </body>
   <script type="text/javascript">
      $( document ).ready(function() {
          var notice = "<%= flash[:notice] %>";
          if (notice != "")
          {   
              new PNotify({
                  title: 'Notice',
                  text: notice,
                  addclass: 'bg-success'
              });
          }
          var alert = "<%= flash[:alert] %>";
          if (alert != "")
          {
              new PNotify({
                  title: 'Alert',
                  text: alert,
                  addclass: 'bg-danger'
              });
          }   
// ***************************Params[Notice]****************
          var p_notice = "<%= params[:notice] %>";
          if (p_notice != "")
          {   
              new PNotify({
                  title: 'Notice',
                  text: p_notice,
                  addclass: 'bg-success'
              });
          }
          var p_alert = "<%= params[:alert] %>";
          if (p_alert != "")
          {
              new PNotify({
                  title: 'Alert',
                  text: p_alert,
                  addclass: 'bg-danger'
              });
          }   
    });
   </script>
</html>
