<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>MarketPlaceApi</title>
      <%= stylesheet_link_tag 'company', media: 'all' %>
      <%= javascript_include_tag 'company' %>
      <%= csrf_meta_tags %>
   </head>
   <body>
      <%= render 'layouts/company/navbar'%>  
            <%#= render 'layouts/admin/side_bar' %>
               <%= render 'layouts/company/page_header'%>
                  <%= yield %>  
   </body>
</html>







