
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Login To MarketPlace</title>
<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
 <%= stylesheet_link_tag 'admin', media: 'all' %>
 <%= javascript_include_tag 'admin' %>
 <%= csrf_meta_tags %>
</head>
<body class="login-cover  pace-done">
   <%= render 'layouts/login/navbar'%>
   <div class="page-container login-container">
      <div class="page-content">
         <div class="content-wrapper">
            <div class="content">
              <%- flash.each do |name, msg| -%>
                <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
              <%- end -%>  
              <%= yield %>
            </div>
         </div>
      </div>
   </div>
</body>
<script type="text/javascript">
  $( document ).ready(function() {
    var notice = "<%= flash[:notice] %>";
    if (notice != "")
    {   
        new PNotify({
            title: 'Notice',
            text: notice,
            addclass: 'bg-success'
        });
    }
    var alert = "<%= flash[:alert] %>";
    if (alert != "")
    {
        new PNotify({
            title: 'Alert',
            text: alert,
            addclass: 'bg-danger'
        });
    }   
});
</script>
</html>